<h1>About</h1>
<p>This app was created so you can choose the wedding services that best suit your ceremony needs.</p>
<p>Your options include:</p>
  <ul>
    <li>Officiant</li>
    <li>Prewritten Ceremony</li>
    <li>Custom Ceremony</li>
    <li>Rehearsal</li>
    <li>Photographer</li>
    <li>Hair</li>
    <li>Make Up</li>
    <li>Coordination</li>
    <li>Ceremony with 20 Guests or Less</li>
    <li>Ceremony with 20 Guests or More</li>
    <li>DJ</li>
    <li>Live Music</li>
    <li>Venue</li>
    <li>Flowers</li>
    <li>Video</li>
    <li>Other</li>
  </ul>
