<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container">
  <div class="row" id="products">
    <div class="col-lg-4">
      <%= render @products %>
    </div>
  </div>
</div>


<br>

<%= link_to 'New Product', new_product_path %>
